.footer {
  background: #10182F;
}

.footer .footer-row {
  padding: 20px;
  text-align: center; /* Center-align the text */
}

.footer .footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
